<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockSys - Sistema de Estoque</title>
    <link rel="stylesheet" href="/static/style_index.css">
</head>
<body>
    <header class="cabecalho">
        <div class="nav-buttons">
            <a href="/cadastro">Cadastrar Produtos</a>
            <a href="/cadastro">Consultar Produtos</a>
        </div>
    </header>
    <main>
        <h2>Bem-vindo ao StockSys - Sistema de Estoque </h2>
        <p>
            O <strong>StockSys </strong> é um sistema web de estoque de produtos, utilizando Python com Flask e MySQL
            
        </p>
        <p>
            Com este sistema, o usuário pode cadastrar produtos, consultar, editar e excluir. Verificar quantidade no Estoque valores de compra e valroes para a revenda.
        </p>
        
        <p>
            Este projeto foi desenvolvido como parte de um dentro do Python com o Flask.
        </p>
        {% with mensagens = get_flashed_messages() %}
            {% if mensagens %}
                <ul class="mensagens">
                {% for msg in mensagens %}
                    <li>{{ msg }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </main>
    <footer style="text-align: center; font-size: 14px; color: #777; margin-top: 20px;">
        <p>&copy; 2025 Sistema de Produtos com Flask. Todos os direitos reservados.</p>
        <p>Desenvolvido por Paulo Ricardo com Python, Flask e MySQL.</p>
    </footer>
    
</body>
</html>